body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lexend Deca";
  background-color: hsl(0, 0%, 95%);
}

main {
  display: flex;
  width: min-content;
  min-height: 29rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

h2 {
  font-family: "Big Shoulders Display";
  color: hsl(0, 0%, 95%);
  font-size: 2rem;
  text-transform: uppercase;
}

section {
  padding: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

section:nth-of-type(1) {
  background-color: hsl(31, 77%, 52%);
}

section:nth-of-type(2) {
  background-color: hsl(184, 100%, 22%);
}

section:nth-of-type(3) {
  background-color: hsl(179, 100%, 13%);
}

section p {
  color: hsla(0, 0%, 100%, 0.75);
  width: 14rem;
  line-height: 1.5rem;
}

button {
  outline: none;
  border: solid 0.15rem hsl(0, 0%, 95%);
  font-family: inherit;
  font-size: inherit;
  padding: 0.75rem 2.5rem;
  border-radius: 3rem;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  width: max-content;
}

section:nth-of-type(1) button {
  color: hsl(31, 77%, 52%);
}

section:nth-of-type(2) button {
  color: hsl(184, 100%, 22%);
}

section:nth-of-type(3) button {
  color: hsl(179, 100%, 13%);
}

section button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

footer {
  font-size: 0.85rem;
  margin: 0.5rem 1rem 0;
  text-align: center;
}

footer p {
  margin: 0;
}

a {
  color: inherit;
}

@media (max-width: 976px) {
  main {
    width: 93vw;
  }

  section p {
    width: 100%;
  }
}

@media (max-width: 816px) {
  main {
    flex-direction: column;
    margin-top: 3.5vw;
  }

  section {
    min-height: 23rem;
  }

  footer {
    margin-bottom: 3.5vw;
  }
}

@media (max-width: 428px) {
  section {
    min-height: 26rem;
  }
}
